
.apexcharts-tooltip{
  margin-top: -200px ;
  overflow: visible !important;
  border-radius: 0px !important;
}

 .apexcharts-tooltip.apexcharts-theme-light {
  border: none !important;
 }
.app{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  200px;
}

.apexcharts-bar:hover {
  color: brown;
  cursor: pointer;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.custom-tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.8); 
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
}

.apexcharts-bar-area{
  color: red;
  width: 200px;
}

.tooltip-container{
  display: flex;
  flex-direction: column;
}

.text-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height:  0px;
}

.tooltip-text{
  color: white;
  line-height: 0px;
  font-weight: 600;
}

.img-pdf{
  max-width: 200px;
  max-height: 400px;
}
.text-heading{
  color: #949494;
  font-weight: 800;
  line-height:  0px;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}